body {
    font-family: Arial, sans-serif;
    background-color: #4CAF50;
    margin: 0;
    padding: 0;
}
.container{
    padding: 10px;
    max-width: 500px;
    margin: 100px auto;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}
form label{
    font-size: 25px;
    margin-bottom: 10px;
}
form input{
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
}
form select{
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
form button{
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}